@if (startingTrees().length > 0) {
  <section class="character-info">
    <div class="character-info__heading font-ui">Unlocked at start</div>
    <ul class="character-info__list">
      @for (tree of startingTrees(); track trackByTreeId($index, tree)) {
        <li class="character-info__item">
          <button class="character-info__row">
            <img
              class="character-info__tree-icon"
              [src]="getTreeIconPath(tree)"
              [alt]="tree.name"
              width="20"
              height="40"
              draggable="false"
            />
            <span class="character-info__tree-name font-fantasy">{{ tree.name }}</span>
          </button>
        </li>
      }
    </ul>
  </section>
}
