<div class="footer">
  <span class="footer__version">{{ version }}</span>
  <div class="footer__links">
    <a
      class="footer__link"
      [href]="discordUrl"
      target="_blank"
      rel="noopener noreferrer"
      appTooltip
      [tooltipText]="'Discord'"
      tooltipPlacement="top"
      aria-label="Discord profile"
      [@iconHover]="discordHovered ? 'active' : 'idle'"
      (mouseenter)="discordHovered = true"
      (mouseleave)="discordHovered = false"
    >
      <ng-icon name="phosphorDiscordLogo" />
    </a>
    <a
      class="footer__link"
      [href]="githubUrl"
      target="_blank"
      rel="noopener noreferrer"
      appTooltip
      [tooltipText]="'GitHub'"
      tooltipPlacement="top"
      aria-label="GitHub repository"
      [@iconHover]="githubHovered ? 'active' : 'idle'"
      (mouseenter)="githubHovered = true"
      (mouseleave)="githubHovered = false"
    >
      <ng-icon name="phosphorGithubLogo" />
    </a>
    <a
      class="footer__link__thanksTo"
      [href]="nstratosUrl"
      target="_blank"
      rel="noopener noreferrer"
      appTooltip
      [tooltipText]="nstratosThanksTo"
      tooltipPlacement="top"
      aria-label="Thanks to Nstratos for his previous work <3"
      [@iconHover]="heartHovered ? 'active' : 'idle'"
      (mouseenter)="heartHovered = true"
      (mouseleave)="heartHovered = false"
    >
      <ng-icon name="phosphorHeart" />
    </a>
    <span
      class="footer__info"
      appTooltip
      [tooltipText]="stoneshardDataVersion"
      tooltipPlacement="top"
      aria-label="Stoneshard game data version"
      role="img"
      [@iconHover]="infoHovered ? 'active' : 'idle'"
      (mouseenter)="infoHovered = true"
      (mouseleave)="infoHovered = false"
    >
      <ng-icon name="phosphorInfo" />
    </span>
  </div>
</div>
